# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# visual studio code
.vscode

# gradle
build
.gradle

# other
eclipse
runs
run-data

repo

# data gen cache files
/src/generated/resources/.cache/